<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="2.0.1" targetFramework="net451" />
  <package id="Caliburn.Micro.Core" version="2.0.1" targetFramework="net451" />
  <package id="DeltaCompressionDotNet" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net451" />
  <package id="Mono.Cecil" version="0.9.5.4" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="NLog" version="3.2.0.0" targetFramework="net451" />
  <package id="NLog.Config" version="3.2.0.0" targetFramework="net45" />
  <package id="NLog.Schema" version="3.2.0.0" targetFramework="net45" />
  <package id="NLog.Targets.Syslog" version="2.1.5491.28378" targetFramework="net45" />
  <package id="NuGet.Core" version="2.8.3" targetFramework="net451" />
  <package id="QuantityTypes" version="1.0.40" targetFramework="net45" />
  <package id="Splat" version="1.5.1" targetFramework="net451" />
</packages>